@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&family=Karla:wght@400;500;700&family=Reenie+Beanie&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --off-background-rgb: 251, 251, 251;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --off-background-rgb: 4, 4, 4;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--off-background-rgb));
}

main {
  background: rgb(var(--background-rgb));
}
